*{
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

/* Starting from now on header section  */
.header{
    background-image:url("images/banner1.png");
    background-size:cover;
    }

.header-article{
    padding: 120px 180px;
    text-align: right;
    }

.article-title{
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #151414;
    margin-bottom:10px;
    }

.article-paragraph{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    }

.article-button{
    margin-top:25px;
    height: 64px;
    background: #F15B22;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;;
    padding:20px 25px;
    color: #FFFFFF;
    border: none;
        
    }
/*from now on header section end */



/* Starting from now on main-section-one section */
.section-main-one{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    margin-top:70px; 
    
}
.section-one-img{
    height:600px;
    }
.section-one-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #151414;
    padding: 15px;
}
.section-one-paragraph{
    padding: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}
.section-one-list{
    list-style: none;
    word-break:10px;
    margin-left: -20px;
    line-height: 40px;
}
.section-one-list img{
    padding-right:10px;
} 
/* from now on main-sectuin-one section end */


/* Starting from now on main-section-tow section */
.section-tow-title{
    text-align: center;
    margin-top:60px;
    margin-bottom:25px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.section-tow-skil-box{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
}
.section-tow-h4{
    font-weight: 600;
    font-size: 28px;
    color: #151414;
}

.section-toe-span{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    margin-top: -10px;
}

.section-tow-img{
    width: 1140px;
    height: 300px;
    left: 230px;
    background-image: url("images/watch.png");
    background-repeat: no-repeat;
    margin:60px auto;
    border-radius: 8px
}

.section-tow-box{
    width:450px;
    padding: 65px;
}

.section-tow-img-text{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

.primary-button{
    margin-top: 15px;
    color: #F15B22;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;;
    padding:15px 20px;
    border: none;
    }
/* from now on main-sectuin-tow section end */

/* Starting from now on footer section */
.footer{
    width: 100%;
    background: #151414;
    color: wheat;
    display: flex;
    justify-content:space-evenly ;
    padding:70px 0px;
}
.footer-title{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8
}

.footer-pragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    padding: 10px 0;
}
.footer-section-icons{
    margin-right: 10px;
    margin-top:10px;
}
.footer-title-s{
    font-weight:500;
    font-size: 30px;
    color: #F8F8F8
}
.footer-input{
    padding:8px;
    border-radius:8px;
    background-color: #151414;
    border: 2px solid grey;
    margin: 15px 0;
}

.footer-button{
    background:#FFFFFF;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;;
    padding:10px 25px;
    color: #f75050;
    border: none; 
}
/* from now on footer section end */
